<div class="page-header">
	<h1>Editing Breed</h1>
</div>

<%= render 'form', breed: @breed %>

<br>

<%= link_to 'Show', @breed, class: 'btn btn-info'  %> 
<%= link_to 'Back', breeds_path, class: 'btn btn-primary'  %>
